@import '../../Styles/Global.scss';


.SectionTitle{
    font-family: $--font-BarlowCondensed;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 5px;
    color: $--principal-white;
    font-size: 3.5rem;
    align-self: flex-start;

    .SectionTitle_number {
        font-family: $--font-BarlowCondensed;
        font-weight: bold;
        color: rgba($color: $--secundary-white, $alpha: .8);
        font-size: 3.5rem;
        margin-right: 20px;

        @media screen {
            @media (max-width: 1024px) {
                font-size: 3rem;
            }
            @media (max-width: 700px) {
                font-size: 2.3rem;
                margin-right: 15px;
            }
        }
    }

    @media screen {
        @media (max-width: 1024px) {
            font-size: 3rem;
        }
        @media (max-width: 700px) {
            align-self: center;
            font-size: 2.3rem;
        }
        @media (max-width: 400px) {
            letter-spacing: 3px;
        }
    }
} 